In [31]:
import pandas as pd
df = pd.read_csv("./people.csv")
print(df.describe())

       Unnamed: 0       salary        age
count    5.000000     5.000000   5.000000
mean     2.000000   940.000000  26.000000
std      1.581139   993.981891  12.349089
min      0.000000   300.000000  19.000000
25%      1.000000   500.000000  20.000000
50%      2.000000   500.000000  21.000000
75%      3.000000   700.000000  22.000000
max      4.000000  2700.000000  48.000000

In [32]:
df= df.drop(["Unnamed: 0"], axis = 1)
df.head()

          name  salary  age sex smoke drink
0      Mr Sami     500   20   M   yes   yes
1   Lady Samia    2700   48   F   NaN    no
2  Miss Miriam     700   22   F   NaN   NaN
3     Mr Ahmed     500   21   M    no   yes
4   Dona siwar     300   19   F   yes   NaN

In [33]:
df.fillna('no',inplace=True)
df.head()
df.to_csv('FD_people.csv')